<html>
    <head>
        <title>Fleet monitor system - {% block title%}{% endblock %}</title>
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        {% block head %}
        {% endblock %}
    </head>

    <body>
        <div class="ui stackable menu"><!-- fixed -->
            <div class="ui container">
            <div class="item" style="padding: 0 auto 0 auto;">
               <img class="logo" style="width: 150px;" src="{{ url_for('static', path='/logo2.png') }}">
            </div>
            <a class="{%block activehome%}{% endblock %}item" href="/">
                Strona główna
            </a>
            <a class="{%block activerealtime%}{% endblock %}item" href="/realtime-data">
                Dane w czasie rzeczywistym
            </a>
            <a class="{%block activedata%}{% endblock %}item">
                Przegląd danych
            </a>
            <a class="{%block activestatistics%}{% endblock %}item">
                Statystyki
            </a>
            <a class="{%block activelist%}{% endblock %}item" href="/car">
                Lista pojazdów
            </a> <!-- w każdej kategori będzie samochód do wybrania (oprócz w liście pojazdów, to będzie do modyfikacji aktualnych rzeczy)-->
            </div>
        </div>
          <div class="ui main container">
            {% block content %}
            {% endblock %}
          </div>
        </div>
    </body>
</html>