{% extends "base.html" %}

{% block title %}
Lista pojazdów
{% endblock %}

{%block activelist%}active {% endblock %}

{% block head %}

{% endblock %}
{% block content %}

<div class="ui container stackable grid">
    <div class="three wide column">
        <div class="ui vertical basic buttons">
            {% for allCars in allCars %}
            <a class="ui button" href="?pojazdID={{ allCars.id }}">{{ allCars.marki.nazwaMarki }} {{ allCars.nazwa }}</a>
            {% endfor %}
        </div>
    </div>
    {% if actualCar %}
    <div class="thirteen wide column ui items">
        <div class="item">
          <div class="image">
            <img src="{{ actualCar.zdjLink }}">
          </div>
          <div class="content">
            <h1 class="header">{{ actualCar.marki.nazwaMarki }} {{ actualCar.nazwa }} ({{ actualCar.rokProdukcji }})</h1>
            <div class="meta">
              <span>{{ actualCar.numerRejestracyjny }}</span><br>
              <span>Nr. urządzenia {{ actualCar.urzadzenia.nrUrzadzenia }}</span>
            </div>
            <div class="description">
              <p>ilość paliwa: <strong id="fuel"></strong> %</p>
              <p>prędkość obrotowa: <strong id="rotation"></strong> obr/min</p>
              <p>prędkość pojazdu: <strong id="speed"></strong> km/h</p>
              <p>napięcie akumulatora: <strong id="voltage"></strong> V</p>
            </div>
          </div>
        </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% else %}
<h1 class="ui header">Brak powiązanego urządzenia</h1>
{% endif %}
{% endblock %}