{% extends "base.html" %}

{% block title %}
Wykresy w czasie rzeczywistym
{% endblock %}

{%block activerealtime%}active {% endblock %}

{% block head %}
<script src="https://d3js.org/d3-array.v2.min.js"></script>
<script src="https://d3js.org/d3-color.v2.min.js"></script>
<script src="https://d3js.org/d3-format.v2.min.js"></script>
<script src="https://d3js.org/d3-interpolate.v2.min.js"></script>
<script src="https://d3js.org/d3-time.v2.min.js"></script>
<script src="https://d3js.org/d3-time-format.v3.min.js"></script>
<script src="https://d3js.org/d3-scale.v3.min.js"></script>
<script src="https://d3js.org/d3-selection.v2.min.js"></script>
<script src="https://d3js.org/d3-axis.v2.min.js"></script>
<script src="https://huww98.github.io/TimeChart/dist/timechart.min.js"></script>

 <style>
     #chart { width: 100%; height: 300px;  }
 </style>
{% endblock %}
{% block content %}

<div class="ui container stackable grid">
    <div class="three wide column">
        <div class="ui vertical basic buttons">
            {% for allCars in allCars %}
            <a class="ui button" href="?pojazdID={{ allCars.id }}">{{ allCars.marki.nazwaMarki }} {{ allCars.nazwa }}</a>
            {% endfor %}
        </div>
    </div>
    {% if actualCar %}
    <div class="thirteen wide column ui items">
        <div class="item">
          <div class="image">
            <img src="{{ actualCar.zdjLink }}">
          </div>
          <div class="content">
            <h1 class="header">{{ actualCar.marki.nazwaMarki }} {{ actualCar.nazwa }} ({{ actualCar.rokProdukcji }})</h1>
            <div class="meta">
              <span>{{ actualCar.numerRejestracyjny }}</span>
            </div>
            <div class="description">
              <p>ilość paliwa: 50 %</p>
              <p>prędkość obrotowa: 800 obr/min</p>
              <p>prędkość pojazdu: 70 km/h</p>
              <p>napięcie akumulatora: 12 V</p>
            </div>
          </div>
        </div>
    </div>
    {% else %}
    <h1 class="ui header">Wybierz samochód</h1>
    {% endif %}
</div>
{% if actualCar %}
    <h1 class="ui header">Wykres</h1>
    <div id="chart"></div>
{% endif %}

         <script>
             const el = document.getElementById('chart');
             const fuel = [];
             const rotation = [];
             const speed = [];
             const voltage = [];
             const chart = new TimeChart(el, {
                 series: [{ data: fuel, name: 'Paliwo', color: 'darkblue' },
                          { data: rotation, name: 'Prędkość obrotowa', color: 'green' },
                          { data: speed, name: 'Prędkość pojazdu', color: 'red' },
                          { data: voltage, name: 'Napięcie akumulatora', color: 'violet' }],
                 realTime: true,
                 xRange: { min: 0, max: 500 },
             });
             const ws = new WebSocket("ws://localhost:8800/{{ pojazdID }}/ws");     
             let x = 0;
             ws.onmessage = function(event) {
                 const measurement = JSON.parse(event.data);
                 console.log(measurement);
                 x += 1
                 dataPoints.push({x, y: measurement.value});
                 chart.update();
             };
         </script>
{% endblock %}